# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
phishingml/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dataset
data/

# Trained models
models/

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log